@import "colors.scss";

$shadow-10 : 1px 1px 4px rgba($color-tertiary, 0.12);
$shadow-20 : 2px 2px 8px rgba($color-tertiary, 0.2);
$shadow-30 : 4px 4px 12px rgba($color-tertiary, 0.2);
$shadow-40 : 6px 6px 20px rgba($color-tertiary, 0.16);
$shadow-50 : 12px 12px 32px rgba($color-tertiary, 0.16);
$shadow-60 : 16px 16px 48px rgba($color-tertiary, 0.16);